RESEND_API_KEY=your_resend_api_key_here
SEPAY_API_KEY=your_sepay_api_key_here
SEPAY_ACCOUNT_NUMBER=your_sepay_account_number_here
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_publishable_key_here
PORT=3000
